<h2 id="title">Welcome to Ember</h2>

{{#link-to 'index'}}Go to root{{/link-to}}
{{#link-to 'foo'}}Go to foo{{/link-to}}
{{#link-to 'foo.bar'}}Go to foo.bar{{/link-to}}
{{#link-to 'foo.bar.baz'}}Go to foo.bar.baz{{/link-to}}

{{outlet}}
